@import "variables";
@import "mixins";
@import "animations";

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, p, h2, h3, footer{
  color: $grayishBlue;
}

h1, h4{
  color: $darkBlue;
}

h1, h2, h3, .btn-primary, .btn-secondary, h5, .badge, .nav-link{
  text-transform: uppercase;
}

h1, h2{
  margin-bottom: 70px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

h3, h4 {
  font-size: 18px;
}

p{
  font-size: 16px;
  line-height: 26px;
}

ul {
  list-style-type: none;
}

a{
  -webkit-transition: color .3s;
  transition: color .3s;
  &:hover{
    text-decoration: none;
  }
}

#loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: center;
  font-size: 10rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    width: 40vw;
    margin: auto;
  }
}

.btn{
  border: 0;
  padding: 0.8rem 1.25rem;
}

.btn-primary{
  background-color: $darkBlue;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  &:hover, &:focus, &:not(:disabled):not(.disabled):active{
    background-color: $darkGrayishBlue;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  }
}

.btn-secondary{
  color: $darkBlue;
  background-color: $white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  &:hover, &:focus, &:not(:disabled):not(.disabled):active{
    color: $darkBlue;
    background-color: $lightGray;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }
}

.badge{
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 0;
  background-color: $red;
  font-size: 13pt;
  padding: 7px 10px;
}

.icon{
  >i{
    display: inline-block;
    width: 2em;
    height: 3.5em;
    vertical-align: middle;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
}

.navbar{
  padding: 40px 50px;
  @include phone{
    padding: 20px 30px;
  }
  .navbar-brand{
    padding: 0;
    .logo{
      height: 40px;
      @include phone{
        height: 30px;
      }
    }
  }
  .nav-link{
    @include transitions(color);
    &:hover{
      color: $darkBlue;
    }
  }
  .nav-item{
    margin: 0 7.5px;
  }
  .nav-icons{
    margin-left: 15px;
    @media screen and (max-width: 1024px){
      margin-top: 15px;
    }
  }
  .navbar-toggler{
    border: 0;
    color:$grayishBlue;
    @include transitions(color);
    &:hover, &:active, &:focus{
      color:$darkBlue;
      background-color: transparent;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
  }
  .dropdown{
    .dropdown-menu {
	  top:95%;
      border: 0;
      border-radius: 4px;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
      padding: 30px 20px;
      width: 200px;
      @media screen and (max-width: 1024px){
        text-align: right;
        margin-right: 25px;
        padding: 0 20px;
        box-shadow: none;
      }
      .dropdown-item{
        white-space: normal;
        padding: 0;
        margin-bottom: 12px;
        color:$grayishBlue;
        @include transitions(color);
        &:hover{
          color:$darkBlue;
          background-color: transparent;
        }
      }
    }
    >.dropdown-toggle{
      &:active {
        pointer-events: none;
      }
      &::after{
        content: none;
      }
    }
    &:hover{
      >.dropdown-menu {
        display: block;
      }
    }
  }
  .icon{
    padding: 15px 12px;
    margin: 0 7.5px;
    @include transitions(box-shadow);
    &:hover{
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
  }
}

.c-search{
  background-image: url("../img/tc-search.svg");
}

.c-user{
  background-image: url("../img/tc-user.svg");
}

.c-cart{
  background-image: url("../img/tc-cart.svg");
}

section{
  padding: 90px 0;
  text-align: center;
  .fa{
    font-size: 22px;
  }
}

.hero-banners{
  color: $white;
  padding: 0;
  height: calc( 100vh - 120px );
  .container-fluid{
    padding: 0;
    height: 100%;
    .row{
      margin: 0;
      height: 100%;
      .col-sm-8, .col-sm-4{
        overflow: hidden;
        padding: 0;
      }
    }
  }
  .banner-primary{
    height: 100%;
    margin-right: 10px;
    @include phone{
      margin: 0;
    }
  }
  .banner-secondary{
    height: calc(50% - 5px);
    &:first-of-type{
      margin-bottom: 10px;
    }
    @include phone{
      display: none;
    }
  }
  .scroll{
    position: absolute;
    bottom: 8%;
    left: 50%;
    .icon{
      width: 53px;
      height: 53px;
      border-radius: 50%;
      border: 1px solid $white;
      margin: auto;
      animation-name: bounce;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      .c-arrow-d{
        width: 1.5em;
        height: 3.4em;
        background-image: url("../img/tc-arr-down-white.svg");
      }
    }
    p{
      text-transform: uppercase;
      color: $white;
    }
    @include phone{
      display: none;
    }
  }
  .col-sm-4{
    @include phone{
      display: none;
    }
  }
}

.jumbotron{
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 115%;
  @include transitions(background-size);
  h1, h2, h4{
    color: $white;
    line-height: normal;
    margin-bottom: 0;
  }
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 4.5vw;
  }
  h4{
    font-size: 24px;
  }
  a{
    margin-top: 60px;
  }
  .overlay{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($darkBlue, 0.1);
    @include transitions(background-color);
  }
  .container{
    padding: 10%;
    text-align: center;
  }
  &:hover{
    background-size: auto 120%;
    .overlay{
      background-color: rgba($darkBlue, 0.3);
    }
  }
  &.collection{
    background-size: 110% auto;
    &:hover{
      background-size: 115% auto;
    }
    @include phone{
      h2{
        font-size: 8vw;
      }
    }
  }
}

.product{
  h2{
    margin-bottom: 30px;
  }
  .owl-carousel{
    .owl-nav{
      position: initial;
      .fa{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $grayishBlue;
        @include transitions(background-color);
        &:hover{
          background-color: $darkBlue;
        }
      }
      .c-arrow-l{
        -webkit-mask: url(../img/tc-arr-L.svg) no-repeat 50% 50%/30px 30px;
        mask: url(../img/tc-arr-L.svg) no-repeat 50% 50%/30px 30px;
      }
      .c-arrow-r{
        -webkit-mask: url(../img/tc-arr-R.svg) no-repeat 50% 50%/30px 30px;
        mask: url(../img/tc-arr-R.svg) no-repeat 50% 50%/30px 30px;
      }
      button{
        position: absolute;
        top: 40%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        z-index:1;
      }
    }
    .owl-prev{
      left: -90px;
      @media screen and (max-width: 1440px){
        left: -2%;
      }
    }
    .owl-next{
      right: -90px;
      @media screen and (max-width: 1440px){
        right: -2%;
      }
    }
    @include phone{
      &::after{
        position: inherit;
      }
    }
  }
  .card{
    padding: 20px;
    margin: 20px;
    border: 0;
    @include transitions(box-shadow);
    .card-title{
      font-size:18px;
      color: $darkBlue;
    }
    .card-text{
      margin-top: 0.95rem;
    }
    a{
      cursor: pointer;
    }
    h5{
      color: $grayishBlue;
      font-size: 13px;
    }
    span{
      display: block;
      &.old-price{
        font-size: 14px;
        text-decoration: line-through;
      }
      &.new-price{
        color: $red;
      }
    }
    &:hover{
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      .card-title{
        text-decoration: underline;
      }
    }
  }
  hr{
    margin: 80px 0;
  }
}


.instagram-feed{
  background-color: $darkBlue;
  text-align: center;
  #gallery{
    margin-bottom: 60px;
    a{
	  width: 25%;
      height: auto;
      display: block;
      overflow: hidden;
      position: relative;
	  .img-container{
		position: absolute;
		width: 100%;
		height: 100%;
		img{
		  height: 100%;
		  width: 100%;
		  object-fit: cover;
		  transition: transform .3s;
		}
		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			@include transitions(opacity, background-color);
			background-color: $darkBlue;
			i {
				font-size: 60px;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
			}
			}
			&:hover{
			img{
				transform: scale(1.2);
			}
			.overlay{
				background-color: rgba($darkBlue, 0.6);
				opacity: 1;
			}
		}
	  }
	  &:after{
		content: "";
		display: block;
		padding-bottom: 100%;
	  }
      @include phone{
		width:50%;
      }
    }
  }
  a{
    &:hover{
      color: white;
    }
  }
}

.newsletter {
  padding: 120px 0;
  background: $white;
  .content {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    h4 {
      font-size: 24px;
      margin-bottom: 40px;
    }
    .col-md-7{
      margin-bottom: 32px;
    }
    .form-control {
      height: 50px;
      border: 0;
      border-radius: 0;
      border-bottom: 2px $lightGray solid;
      margin-right: 32px;

      &:focus {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        border-bottom: 2px $darkBlue solid;
      }
    }
  }
}

footer{
  background-color: $lightGray;
  padding: 50px 70px;
  ul{
    a{
      transition: color .3s;
      &:after {
        content: ' >';
        position: relative;
        opacity: 0;
        right: -20px;
        -webkit-transition: right .3s;
        transition: right .3s;
      }
      &:hover{
        color: $darkBlue;
        &::after{
          right: 0;
          opacity: 1;
        }
      }
    }
  }
  .img-fluid{
    max-width: 85%;
  }
  .footer-icon {
    color: $lightGray;
    background-color: $grayishBlue;
    border-radius: 50%;
    display: inline-block;
    height: $icon-size;
    width: $icon-size;
    line-height: $icon-size;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    &:hover {
      background-color: $darkBlue;
    }
  }
}

.contacts{
  form{
    overflow: auto;
  }
  .btn{
    float: right;
  }
  i{
    font-size: 20px;
    margin-right: 10px;
  }
  li{
    padding: 20px;
  }
}

.about{
  box-shadow: -50px 50px 0px 0px $darkBlue;
  @include phone{
    box-shadow: -25px 25px 0px 0px $darkBlue;
  }
}